git rm --r cached assets
gir rm --r cached cdn_modules
echo "assets/" >> .gitignore
echo "cdn_modules/" >> .gitignore
git add .gitignore
git commit -m "Stop tracting assets/ and cdn_modules/"
git push