*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --putih: #FAFAFA;
  --biru: #AFE2FF;
  --biru-plus: #E4F5FF;
}
[id]{
  scroll-margin-top: 70px;
}
html{
  scroll-behavior: smooth;
}
body{
  background: var(--biru-plus);
  list-style: none;
  font-family: 'Outfit';
  font-weight: 400;
}
body.darkOn{
  background-color: #222;
  color: #E3E3E3;
}

/* NAVBAR */
.nav-container{
  position: fixed;
  width: 100vw;
  background: var(--biru);
  top: 0;
}
.nav-hero{
  height: 60px;
  display: flex;
  align-items: center;
}
.nav-hero h1{
  margin-right: auto;
  margin-left: 10px;
  font-size: 35px;
}
.nav-hero button{
  margin-right: 20px;
  margin-left: auto;
  font-size: 35px;
  border: none;
  background-color: inherit;
}
.nav-hero button i{
  display: block;
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.nav-menu{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-items: center;
  transform: translateX(-110%);
  width: 100vw;
  transition: all 0.3s ease;
  background-color: var(--biru);
  top: 60px;
}
.nav-menu.menuOn{
  transform: translateX(0);
}
.nav-menu li{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  margin-right: auto;
  padding-left: 20px;
  width: 100vw;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.nav-menu li i{
  font-size: 30px;
}
.nav-menu li:hover{
  background-color: #A5FFDE;
  transform: scale(1.1);
  padding-left: 50px;
}
.nav-menu.menuOn li{
  display: block;
}
#iconDrk{
  transition: all 0.5s ease;
}

/* Hero */
.hero{
  margin-top: 70px;
}